*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(13,2,20,1);
    display: flex;
    flex-wrap: wrap;
}
header{
    width: 100vw;
    height: 22vh;
    background: rgb(74,27,161);
    background: linear-gradient(180deg, rgba(74,27,161,1) 0%, rgba(13,2,20,1) 100%);    
    display: flex;
    align-content: center;
    align-items: center;
}
header > h1{
    font-family: 'Pixelify Sans', sans-serif;
    font-size: calc(3vh + 7vw);
    color: rgba(0,0,0, 0.5);
    margin-left: 2vw;
    padding-bottom: 2vw;
}
.Tarjeta{
    width: 22vw;
    min-width: 250px;
    max-width: 400px;
    height: 35vh;
    min-height: 250px;
    max-height: 400px;
    background-color: #2E0C74;
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    margin-left: 2vw;
    margin-bottom: 5vh;
}
.Tarjeta > h2{
    width: 100%;
    height: 20%;
    text-align: center;
    font-size: calc(0.7vw + 30px);
    font-family: 'NTR', sans-serif;
}
.Tarjeta > img{
    width: 100%;
    height: 50%;
    background-color: #2E0C21;
}
.Tarjeta > p{
    font-family: 'NTR', sans-serif;
    font-weight: 600;
    width: 100%;
    font-size: calc(0.6vw + 15px);
    text-align: center;
}

.Tarjeta:hover{
    cursor:pointer;
}