*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
    background-color: rgba(13,2,20,1);
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}
body > div{
    width: 100%;
    height: 39vh;
    background-color: #2E0C74;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-evenly;
}
body > div > *{
    font-family: 'NTR', sans-serif;
    font-size: calc(1vh + 2vw);
    text-align: center;
    height: 5vh;
    color: rgba(0,0,0, 0.8);
    padding-bottom: 0;
}
body > div > h2{
    font-size: calc(2vh + 4vw);
    height: 12vh;
}

h2 {}
header{
    width: 100vw;
    height: 22vh;
    background: rgb(74,27,161);
    background: linear-gradient(180deg, rgba(74,27,161,1) 0%, rgba(13,2,20,1) 100%);    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header > div{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
header > div > a{
    font-family: 'Pixelify Sans', sans-serif;
    font-size: calc(2vh + 3vw);
    color: rgba(0,0,0, 0.5);
    padding-bottom: 2vw;
    text-decoration: none;
}
header > h1{
    font-family: 'Pixelify Sans', sans-serif;
    font-size: calc(3vh + 7vw);
    color: rgba(0,0,0, 0.5);
    margin-left: 2vw;
    padding-bottom: 2vw;
}
.Tarjeta{
    width: 18vw;
    min-width: 250px;
    max-width: 400px;
    height: 32vh;
    min-height: 250px;
    max-height: 400px;
    background-color: #2E0C74;
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    margin-left: 2vw;
    margin-bottom: 5vh;
    color: #000;
    text-decoration: none;
}
.Tarjeta > h2{
    width: 100%;
    height: 20%;
    text-align: center;
    font-size: calc(0.7vw + 30px);
    font-family: 'NTR', sans-serif;
}
.Tarjeta > img{
    width: 100%;
    height: 50%;
    background-color: #2E0C21;
}
.Tarjeta > p{
    font-family: 'NTR', sans-serif;
    font-weight: 600;
    width: 100%;
    font-size: calc(0.6vw + 15px);
    text-align: center;
    height: 15px;
    margin-bottom: 2vh;
}

.Tarjeta:hover{
    cursor:pointer;
}
